.testCenter{
    text-align: center;
}
/* 常用颜色 start */
.colorGreen{
    color: #2d8f53;
}
.colorBlack{
    color: #000;
}
.colorGray{
    color: #776e44;
}
.colorMud{
    color: #cec786;
}
/* 常用颜色end */
/* 常用背景颜色 start */
.bgColorGreen{
    background-color: #2d8f53; 
}
.bgColorBlack{
    background-color: #000; 
}
.bgColorGray{
    background-color: #776e44; 
}
.bgColorMud{
    background-color: #cec786; 
}
/* 常用背景颜色 end */
.container{
    width: 100%;
    height: 100%;
    border: 10px solid rgb(54, 141, 69);
    box-sizing: border-box;
}